{% extends "base.html" %}

{% load crispy_forms_tags %}

<!-- CONTENT BLOCK -->
{% block content %}

    <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <div class="panel panel-primary">

                        <div class="panel-heading text-center">

                            <h1>Contact</h1>

                        </div>

                        <div class="panel-body">

                            <div class="col-sm-4 col-sm-offset-4">

                                <p align="center"> If, you have any questions. Kindly, contact the <a href="mailto:science-it@charite.de"> Science-IT Team</a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

    </div>

{% endblock %}