<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charite-Orcid linking</title>
</head>
<body>

    <p>**english version below**</p>

    <h4>Liebe Wissenschaftlerinnen und Wissenschaftler des Instituts für Physiologie,</h4>

    <p> die Fakultät strebt an, dass jeder wissenschaftlichen Mitarbeiterin und jedem wissenschaftlichen Mitarbeiter der Charité eine ORCID-ID zugeordnet ist.</p>

    <p> Neben der eindeutigen Identifizierbarkeit von Wissenschaftler*innen mit gleichem Namen, wird damit auch die Sichtbarkeit der eigenen wissenschaftlichen Publikationen verbessert.</p>

    <p> Als Service für die Wissenschaftler*innen der Charité wird derzeit ein Algorithmus weiterentwickelt, der die automatische Zuordnung der eigenen Publikationen ermöglicht.
        Durch das Einwilligen, dass die Charité  Universitätsmedizin Berlin, die Liste der Publikationen für die Charité-Wissenschaftler*innen verwalten kann, wird das leidige Problem der Aktualisierung der eigenen Publikationen der Vergangenheit angehören.</p>

    <p> Charité - Universitätsmedizin Berlin, lädt Sie ein, Ihre ORCID-ID zu erstellen oder Ihre vorhandene ORCID-ID mit dem Charité Research System zu verknüpfen. Klicken Sie unten auf den Link, um mit der Integration der ORCID-ID an der Charité zu beginnen.</p>


    <p align="center"> <a href="{{ link }}"> {{ link }} </a> </p>

    <h5>Was ist ORCID?</h5>
    <p>Die Open Research and Contributor iD (ORCID) ist eine Non-Profit-Organisation, die eindeutige Identifizierungsnummern (ORCID IDs) für Forschende vergibt, die es ermöglichen, Wissenschaftler*innen mit ihrer Forschung zu verknüpfen. Die iD ist verlagsunabhängig und kann dauerhaft und institutionsunabhängig von Forschenden für ihren wissenschaftlichen Output verwendet werden. Die Registrierung erfolgt über https://orcid.org/ und ist grundsätzlich für alle offen.</p>

    <h5>Warum ORCID?</h5>
    <p>Mit Hilfe einer ORCID ID können Forschende eindeutig Identifiziert werden und eine Verbesserung der Sichtbarkeit der Forschung erreicht werden. Publikationslisten lassen sich einfach erstellen und verwalten. Durch die Ernennung von sogenannten trusted parties‘ lassen sich Publikationsmetadaten automatisch in die ORCID Profile der Forschenden übernehmen, ggf. auch in das institutionseigene Publikationssystem (Repository, FIS, oder Hochschulbibliografie). Auch bei einem Wechsel der Universität können Forschende Ihre ORCID ID weiter nutzen.</p>


    <h2>English Version</h2>

    <h4>Dear scientists of the Institute of Physiology,</h4>

    <p> The Faculty aims to assign an ORCID ID to every scientific associate of the Charité.
    In addition to the unique identifiability of scientists with the same name, it also improves the visibility of own scientific publications.
    As a service to the scientists of the Charité, an algorithm is in development that enables the automatic assignment of your own publications,
    By agreeing that Charité - Universitätsmedizin Berlin can manage the list of publications for the Charité scientists, the tiresome problem of updating your own publications will be obsolete.</p>

    <p> Charité - Universitätsmedizin Berlin, invites you to create your ORCID-ID or to link your existing ORCID-ID with the Charité Research System. Click the link below to begin integrating the ORCID-ID at the Charité.
        {{ link }} </p>

    <h5>What is ORCID?</h5>
    <p>ORCID is an open, non-profit, community-based effort to provide a registry of unique researcher identifiers and a transparent method of linking research activities and outputs to these identifiers. ORCID is unique in its ability to reach across disciplines, research sectors and national boundaries and its cooperation with other identifier systems.</p>

    <h5>Why use ORCID?</h5>
    <p>As researchers and scholars, you face the ongoing challenge of distinguishing your research activities from those of others with similar names. You need to be able to easily and uniquely attach your identity to research objects such as datasets, equipment, articles, media stories, citations, experiments, patents, and notebooks. As you collaborate across disciplines, institution and border, you must interact with an increasing number and diversity of research information systems. Entering data over and over again can be time-consuming and often frustrating.</p>

    <h5>Save Time</h5>
    <p>ORCID minimizes the time you spend filling out forms for research publications or applying for grants ORCID can help funding agencies become familiar with your research.</p>

    <h5>Build Your Professional Profile</h5>
    <p>With an ORCID you can easily showcase your accomplishments.</p>

    <h5>Who Am I?</h5>
    <p> Do you have a common name? Have published some articles with your middle initiation, some with your first initial, and others with your full name? Have you changed your name at some point during your research career?
        ORCiD solves the problem of name differences. Collect all your work under one profile - no matter what name it is published under.</p>

</body>
</html>