{% extends "base.html" %}

{% load staticfiles %}

<!-- CONTENT BLOCK -->
{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="panel panel-primary">

                    <div class="panel-heading text-center">

                        <h1>ORCID Intergration at Charité Universitätsmedizin Berlin</h1>

                    </div>

                    <div class="panel-body">

                        <p><strong>Charité Universitätsmedizin</strong> Berlin is collecting your ORCID iD so we can take care of updating your publications in our system and in ORCID. When you click the <strong>"Authorize”</strong> button, we will ask you to share your iD using an authenticated process: either by registering for an ORCID iD or, if you already have one, to sign into your ORCID account, then granting us permission to get your ORCID iD. We do this to ensure that you are correctly identified and securely connecting your ORCID iD. Learn more about <a href="https://orcid.org/blog/2017/02/20/whats-so-special-about-signing" target="_blank"> <strong>What’s so special about signing in.</strong></a></p>

                        <p>To acknowledge that you have used your iD and that it has been authenticated, we display the ORCID iD icon  alongside your name on our website/in our publications/in our database etc.Learn more in <a href="https://orcid.org/blog/2013/02/22/how-should-orcid-id-be-displayed" target="_blank"> <strong>How should an ORCID iD be displayed.</strong></a> </p>

                        <ul>
                            <li>ORCiD is a unique research identifier.</li>
                            <li>Integrating your ORCiD with Charité Universitätsmedizin system helps to automate the
                                update of your publications in ORCID and keep your record UpToDate</li>
{#                            <li>Integrating your ORCiD with Charite system helps your research more visible to the outside world</li>#}
{#                            <li>We also update your records on ORCiD on behalf of you and keep your record UpToDate</li>#}
                            <li>You can revoke the permission anytime you want. </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
<!-- END OF CONTENT BLOCK -->
