{% extends "base.html" %}

<!-- CONTENT BLOCK -->
{% block content %}

    <div class="container">
            <h1 align="center">Get an ORCID iD!</h1>
            <h2 align="center">Click the button below to create an ORCID iD and connect it to Charité Universitätsmedizin Berlin.</h2>
            <br><br>
            <div class="text-center">

                <button type="button" class="btn btn btn-lg">

                    <a href="https://orcid.org/oauth/authorize?client_id=APP-XXXXXXXXXXXXXXXX&response_type=code&scope=/authenticate&show_login=false&redirect_uri=https://your-redirect-uri.org" style="text-decoration: none"><img id="orcid-id-logo" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width='24' height='24' alt="ORCID logo"/> Create a new ORCID iD</a>

                </button>
            </div>

            <br><br>
            <h3 align="center">Already have an ORCID iD? <a href="https://sandbox.orcid.org/oauth/authorize?client_id=APP-E422WM33OPZWKKMQ&amp;response_type=code&amp;scope=/authenticate&amp;redirect_uri=http://orcid-createondemand.herokuapp.com/oauth-redirect.php&amp;show_login=true" style="text-decoration: none">Connect your existing ORCID iD to Charité Universitätsmedizin Berlin.</a>
            </h3>
        </div>

{% endblock %}
<!-- END OF CONTENT BLOCK -->
