{% extends "base.html" %}

{% load staticfiles %}

<!-- CONTENT BLOCK -->
{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="panel panel-primary">

                    <div class="panel-heading text-center">

                        <h1>ORCiD Intergration at Charite</h1>

                    </div>

                    <div class="panel-body">

                        <ul>
                            <li>ORCiD is a unique research identifier.</li>
                            <li>Integrating your ORCiD with Charite system helps your research more visible to the outside world</li>
                            <li>We also update your records on ORCiD on behalf of you and keep your record UpToDate</li>
                            <li>You can revoke the permission anytime you want. </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
<!-- END OF CONTENT BLOCK -->
