{% extends "base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}

<!-- CONTENT BLOCK -->
{% block content %}

    {% if error %}

        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <div class="panel panel-primary">

                        <div class="panel-heading text-center">

                            <h1>OOPS!!!</h1>

                        </div>

                        <div class="panel-body">

                            <div class="col-sm-4 col-sm-offset-4">

                                <p> Looks like there is problem with you personalized link!</p>
                                <p> Try refreshing, but if the problem persists feel free to
                                    contact us <a href="mailto:science-it@charite.de"> Science-IT Team</a> </p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    {% else %}

        <div class="container">
            <div class="row">

                <h2 align="center">Dear {{ gender }} {{ last_name }}, You have been invited by Charité
                    Universitätsmedizin Berlin to Create or link your ORCID iD to Charité System (<a href="{% url 'home' %}">Why we do this?</a>)
                </h2>

                <br>
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">Create ORCID iD</div>
                        <div class="panel-body">

                            <form method='get'>

                                <button type="submit" class="btn btn btn-lg center-block js-create-orcid" name="next" value={{ orcid_url_without_login}}>

                                    <img id="orcid-id-logo" src="{% static "images/orcid_24.png" %}" width="24" height="24" alt="ORCID_id_logo"> Create an ORCID iD

                                </button>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading text-center">Link ORCID iD</div>
                        <div class="panel-body">

                            <form method='get'>

                                <button type="submit" class="btn btn btn-lg center-block js-link-orcid" name="next" value={{ orcid_url_with_login }}>

                                    <img id="orcid-id-logo" src="{% static "images/orcid_24.png" %}" width="24" height="24" alt="ORCID_id_logo"> Link existing ORCID iD

                                </button>

                            </form>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading text-center">Not, Interested in ORCID iD</div>
                        <div class="panel-body">

                            <form method='get'>

                                <button type="submit" class="btn btn btn-lg center-block", name="next" value="not_interested" >

                                    <img id="orcid-id-logo" src="{% static "images/orcid_24.png" %}" width="24" height="24" alt="ORCID_id_logo"> Not, Interested in ORCID iD

                                </button>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br>

        {% if form_hidden is False %}

            <div class="container">

                <div class="row">

                    <div class="col-sm-12">

                        <div class="panel panel-danger">

                            <div class="panel-heading text-center">

                                Kindly, tell us why you are not interested to create or connect your ORCID iD Charité System

                            </div>

                            <div class="panel-body">

                                <div class="col-sm-4 col-sm-offset-4">

                                    <form class="form-horizontal" method="post" id="feedback_form">

                                        {% csrf_token %}

                                        <div class="form-group">

                                            <label class="control-label col-sm-6" id="research">{{ form.researcher.label_tag }}</label>

                                            <div class="col-sm-6">

                                                <div class="checkbox" onclick="researcher()">

                                                    {{ form.researcher }}

                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="control-label col-sm-6" id="orcid">{{ form.have_orcid.label_tag }}</label>

                                            <div class="col-sm-6">

                                                <div class="checkbox" onclick="orcid()">

                                                    {{ form.have_orcid }}

                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="control-label col-sm-6" >{{ form.message.label_tag }}</label>

                                            <div class="col-sm-6">

                                                <div class="text-justify">

                                                    {{ form.message }}

                                                </div>

                                            </div>
                                        </div>

                                        {#                                    {{ form|crispy }}#}

                                        <button type="submit" class="btn btn-success center-block" > Submit </button>

                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        {% endif %}

        {% if message %}

            <div class="container">

                <div class="row">

                    <div class="col-sm-12">

                        <div class="panel panel-danger">
                            <div class="panel-heading text-center">

                                Kindly, tell us why you are not interested to create or connect your ORCID iD to Charité System

                            </div>

                            <div class="panel-body text-center" >

                                <p> <strong> Thank you, for your Feedback </strong> </p>

                                {#                                <p> <strong> <a href="{% url 'user_reject_orcid' %}"> Here,</a> you can see what we do with your ORCiD as a trusted organization. </strong> </p>#}

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        {% endif %}

        <style>
            li {
                list-style-type: none;
                display : inline;
            }

        </style>

    {% endif %}

{% endblock %}
<!-- END OF CONTENT BLOCK -->

<!-- JS BLOCK -->
{% block javascript %}

    <script>
        $(function () {

            $(".js-create-orcid").click(function () {

                $.ajax({
                    url: 'https://orcid.org/userStatus.json?logUserOut=true',
                    dataType: 'jsonp',
                    success: function(result,status,xhr) {
                        {#alert("Logged In: " + result.loggedIn);#}
                        console.log('user signed out (create orcid)')
                    },
                    error: function (xhr, status, error) {
                        {#alert(status);#}
                        console.log('error user sign out (create orcid)')
                    }
                });

            });

            $(".js-link-orcid").click(function () {

                $.ajax({
                    url: 'https://orcid.org/userStatus.json?logUserOut=true',
                    dataType: 'jsonp',
                    success: function(result,status,xhr) {
                        {#alert("Logged In: " + result.loggedIn);#}
                        console.log('user signed out (link orcid)')
                    },
                    error: function (xhr, status, error) {
                        {#alert(status);#}
                       console.log('error user sign out (link orcid)')
                    }
                });

            });

        });

        function researcher() {

             if ($('#id_researcher_0').prop("checked")) {

                 $('#id_researcher_1').prop("disabled", true);

                {#console.log("Yes checked");#}
            }
            else {

                {#console.log("Yes unchecked");#}

                $('#id_researcher_1').prop("disabled", false);

            }

            if ($('#id_researcher_1').prop("checked")) {

                 $('#id_researcher_0').prop("disabled", true);

                {#console.log("No checked");#}
            }
            else {

                {#console.log("No unchecked");#}

                $('#id_researcher_0').prop("disabled", false);

            }
        }

        function orcid() {

             if ($('#id_have_orcid_0').prop("checked")) {

                 $('#id_have_orcid_1').prop("disabled", true);
            }
            else {

                $('#id_have_orcid_1').prop("disabled", false);

            }

            if ($('#id_have_orcid_1').prop("checked")) {

                 $('#id_have_orcid_0').prop("disabled", true);

            }
            else {

                $('#id_have_orcid_0').prop("disabled", false);

            }
        }

    </script>

{% endblock %}

<!-- END OF JS BLOCK -->