{% extends "base.html" %}
{% load staticfiles %}
    <!-- CONTENT BLOCK -->
    {% block content %}

        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <div class="panel panel-primary">

                        <div class="panel-heading text-center">

                            <h2>Thank you {{ fullname }}</h2>

                        </div>

                        <div class="panel-body">

                            <div class="col-sm-12">

                                {% if sandbox_url %}
                                    <h3 align="center">You have successfully created an ORCID iD and linked it to Charité Universitätsmedizin Berlin.</h3>
                                    <h3 align="center">Your ORCID iD is now connected:</h3>
                                    <h3 align="center">
                                        <a href={{ sandbox_url }} target="_blank" style="text-decoration: none">
                                            <img id="orcid-id-logo" src="{% static "images/orcid_24.png" %}" width="24" height="24" alt="ORCID logo">
                                            </a>
                                        <a href={{ sandbox_url }} target="_blank" style="text-decoration: none"> {{ sandbox_url }}</a>
                                    </h3>
                                {% else %}

                                    <h3 align="center">There is a problem regarding connecting your ORCID iD to Charité
                                        Universitätsmedizin Berlin. We will try to resolve it as soon as
                                        possible.</h3>

                                {% endif %}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

    </div>

    {% endblock %}
    <!-- END OF CONTENT BLOCK -->
