{% extends "base.html" %}

<!-- CONTENT BLOCK -->
{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="panel panel-primary">

                    <div class="panel-heading text-center">

                        <h3>Denied Authorization to Charite to access ORCiD</h3>

                    </div>

                     <div class="panel-body">

                        <div class="col-sm-12">

                             <h5><strong>We respect your decision to deny access to Charite,
                                 (i.e. linking your ORCiD to Charite System). May be the below questions help you to understand
                                 what we do with your ORCiD and how you can benefit from them. </strong></h5>
                        </div>

                     </div>

                    <div class="panel-body">

                        <div class="col-sm-12">

                            <div class="panel-group" id="accordion1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#c1">
                                                1. What are the advantages of creating an ORCiD?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="c1" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <p>
                                                ORCID provides a registry of unique identifiers for researchers and
                                                scholars that is open, non-proprietary, transparent, and mobile.
                                                ORCID invites all researchers to participate without entry fees or
                                                maintenance costs. ORCID recognizes that first and foremost, individuals
                                                own their record.  A central principle of the ORCID initiative is that
                                                researchers control the defined privacy settings of their own ORCID
                                                record data. Individual record holders can control what information is
                                                displayed publicly, what is shared with trusted partners, and who those
                                                trusted partners are.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#c2">
                                                2. What are the advantages of linking your ORCiD to Charite as a Trusted Organization?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="c2" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            {#                                            <h5>Charite as a Trusted Organization:</h5>#}
                                            <p>By adding Charite as a Trusted Organization, we take care of your ORCiD
                                                records such as, updating your publications, etc. </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#c3">
                                                3. What is a Trusted Organization?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="c3" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            {#                                            <h5>Granting permission as a trusted organization</h5>#}
                                            <p>When you connect your ORCID iD to an organization’s system like Charite, you will
                                                be asked to grant permission to that organization to interact with your
                                                ORCID account.
                                                You decide whether to grant or deny permission to the organization (Charite).
                                                When you grant permission, that organization(Charite) becomes a
                                                <strong> trusted organization</strong> and is listed in the
                                                Trusted organizations section of your account settings..</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#c4">
                                                4. What are the permissions you grant to Trusted Organization?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="c4" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            {#                                            <h5>Trusted Organization:</h5>#}
                                            <p>  As a trusted Organization you give permission to
                                                access your records. The table below shows what permissions Charite as a trusted
                                                organization can request to get your ORCID iD, read your ORCID record, or update your
                                                ORCID record. Only ORCID member organizations may read trusted party data or update your
                                                ORCID record. This means that they have agreed to ORCID’s privacy policy and member terms.
                                                Note that organizations will often request more than one permission.</p>

                                            <table border="1">
                                                <tbody>
                                                <tr>
                                                    <td width="30%">
                                                        <p><strong>When Charite is asking to…</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>We an Organization (Charite) are asking permission to...</strong></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul>
                                                            <li>Get your ORCID iD</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <p>Get your verified ORCID iD, which they can store and use in their systems and workflows.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul>
                                                            <li>Read your limited access information</li>
                                                            <li>Read your ORCID record</li>
                                                            <li>Read your biographical information</li>
                                                            <li>Read items in your ORCID record</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <p>Get your verified ORCID iD, and read items on your ORCID record that are set to be <a href="https://support.orcid.org/hc/articles/360006897614">visible to everyone or just to trusted parties</a> -- trusted organizations or trusted individuals. (Note: no one other than you or a trusted individual can read items that you have set to be <a href="https://support.orcid.org/hc/articles/360006897614">visible to only you</a>.)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul>
                                                            <li>Add or update your research activities</li>
                                                            <li>Add works</li>
                                                            <li>Update your works</li>
                                                            <li>Add education or employment</li>
                                                            <li>Update education or employment</li>
                                                            <li>Add funding items</li>
                                                            <li>Update funding items</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <p>Get your verified ORCID iD, and add affiliation (employment, education, qualification, award, honors, membership, service), research resources, funding, works, and peer review items to your ORCID record.</p>
                                                        <p>The organization can also update or delete any items they have added. They cannot edit or delete items added by other trusted parties or by you.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul>
                                                            <li>Add or update your biographical information</li>
                                                            <li>Add a person identifier</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <p>Get your verified ORCID iD, and add biographical information to your record. This includes other names you are also known as, external identifiers, website links, country or region, and keywords. It does not include updating your biography.</p>
                                                        <p>The organization can also update or delete any items they have added. They cannot edit or delete items added by other trusted parties or by you.</p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#c5">
                                                5. Revoking permission?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="c5" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            {#                                            <h5>Permission you grant to Trusted Organization:</h5>#}
                                            <p>You can revoke permissions at any time. Go to the Trusted organizations section of your account
                                                settings page and click delete (the trash can icon) near the name of the organization whose access
                                                you want to revoke. Revoking this permission means the organization will only be able to read
                                                information on your record which you have set as visible to everyone, as well as information that
                                                they themselves have added. They will not be able to edit or delete any information that they have
                                                added.</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#c6">
                                                6. How can I restore access to a trusted organization?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="c6" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            {#                                            <h5>Restore Access:</h5>#}
                                            <p> Once a trusted organization has been removed, you must grant them
                                                permissions again following the same process you originally used to
                                                give them access to your ORCID record.
                                                For most organizations, you can do this by going to their website and
                                                clicking the link to reconnect your ORCID iD. If that doesn’t work,
                                                you'll need to contact the organization for a link to restore access.
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
<!-- END OF CONTENT BLOCK -->
